.creators {
  margin-bottom: 223px;
}

.creators_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: white;
  margin-left: 48px;
}

.creators_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 24px 48px;
}

.item_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0 0 0;
  transition: 0.4s;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.item_container {
  border-radius: 8px;
  background-color: white;
  height: 453px;
  width: 361px;
  padding: 32px 32px;
}

.item_img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.item_content {
  font-size: 20px;
  margin: 30px 32px;
  font-weight: 400;
}

.item_author {
  margin-top: 16px;
  margin-left: 32px;
  color: #767676;
  cursor: pointer;
  font-size: 14px;
}
