.experience {
  padding: 204px 48px 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 119px;
}

.experience_content_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: white;
  text-align: right;
  margin-bottom: 12px;
}

.experience_content_subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-text);
  text-align: right;
  margin-bottom: 12px;
}

.experience_content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: white;
}

.experience button {
  width: 159px;
  height: 36px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: var(--item-color);
  border-radius: 8px;
  margin: 18px 0 0 0;
  transition: 0.4s;
  cursor: pointer;
  margin-left: auto;
}
