.footer {
  margin: 48px;
}

.footer_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 60px;
}

.footer_list_container ul li {
  margin-top: 12px;
  transition: 0.4s;
}

.footer_list_container ul li p:first-child {
  font-size: 20px;
  color: white;
  font-weight: 400;
  transform: none;
}

.footer_list_container a {
  color: var(--gray-text);
  font-size: 12px;
  transition: 0.4s;
}

.footer_list_container ul li a:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.4s;
}

.li p:first-child {
  font-size: 20px;
  color: white;
  font-weight: 400;
  transform: none;
}

.rights_container {
  color: var(--gray-text);
  font-size: 15px;
}

.footer_down {
  margin-top: 83px;
  align-items: center;
  display: flex;
  text-align: center;
  gap: 24px;
}

.footer_links li {
  margin-left: 24px;
  display: inline-flex;
  font-size: 15px;
}

.footer_down ul a {
  color: var(--gray-text);
}

.footer_down ul a:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.4s;
}
