.header {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 1;
  background-color: var(--bg-color);
}

.header_wrapper {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_navigation_container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav_item {
  margin-left: 20px;
  transition: 0.4s;
}

.nav_link {
  color: #a6a8ad;
  font-size: 16px;
  font-weight: 400;
  transition: 0.4s;
}

.nav_item:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.header_buttons {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 20px;
}

.login {
  background-color: var(--bg-color);
  border: none;
  color: #a6a8ad;
  width: 42px;
  height: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.login:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.sign-up {
  background-color: white;
  border-radius: 32px;
  border: 0;
  color: var(--bg-color);
  width: 95px;
  height: 35px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.4s;
}

.sign-up:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.header_container {
  color: white;
  background-color: var(--item-color);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  height: 46px;
  width: 100%;
}

.header_container_click {
  color: white;
  transition: 0.4s;
}

.header_container_click:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
