.home {
  background-image: url('../assets/home.png');
  background-size: cover;
  position: relative;
  margin-top: 80px;
}

.home h1 {
  font-size: 72px;
  color: white;
  line-height: 72px;
  font-weight: 400;
  margin: 0 0 140px 48px;
  padding: 140px 0 0 0;
}

.home_content {
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 26px 0 0 48px;
  max-width: 412px;
}

.home_button {
  height: 56px;
  width: 125px;
  background-color: var(--item-color);
  text-align: center;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
  margin: 44px 0 214px 48px;
}

.home_button:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.home_learn_more {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_learn_more p {
  margin-bottom: 18px;
}

.home_arrowDown {
  color: white;
  max-width: 12px;
  max-height: 12px;
}
