.sounds {
  padding: 204px 48px 0 48px;
  display: flex;
  justify-content: space-between;
}

.sounds_container {
  max-width: 441px;
}

.sounds_content_subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-text);
}

.sounds_content_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: white;
}

.sounds_content {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 12px;
  color: white;
}

.sound_button {
  width: 159px;
  height: 36px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: var(--item-color);
  border-radius: 8px;
  margin: 18px 0 0 0;
  transition: 0.4s;
  cursor: pointer;
}

.sound_button:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
