.start {
  background-image: url('../assets/last.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_content {
  display: flex;
  flex-direction: column;
  padding: 340px 0;
}

.start_button {
  width: 114px;
  height: 40px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: var(--item-color);
  border-radius: 8px;
  margin-top: 18px;
  transition: 0.4s;
  margin: 40px auto;
}

.start_button:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
}

.start_title {
  color: white;
  font-size: 54px;
  font-weight: 400;
}
